{
  "extends": ["airbnb"],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-console": "off",
    "react/function-component-definition": "off",
    "react/prop-types": "off",
    "import/extensions": "off",
    "react/jsx-filename-extension": [0, { "allow": "as-needed" }],
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-array-index-key": "off"
  }
}