{
  "extends": ["airbnb"],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "no-console": "off",
    "react/function-component-definition": "off",
    "react/prop-types": "off",
    "import/extensions": "off",
    "jsx-a11y/label-has-associated-control": "off"
  }
}